// Custom Styles, most styling is handled by Tailwind
/* CSS Spinner / Toast animations */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-enter {
    animation: slideInRight 0.3s ease-out forwards;
}

.toast-leave {
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    opacity: 0;
    transform: translateX(100%);
}
